# Santander Customer Satisfaction

## You are provided with an anonymized dataset containing a large number of numeric variables. The "TARGET" column is the variable to predict. It equals one for unsatisfied customers and 0 for satisfied customers.

## The task is to predict the probability that each customer in the test set is an unsatisfied customer.

In [1]:
import pandas as pd # data processing

import numpy as np # linear algebra

In [2]:
train_data = pd.read_csv("train.csv")

In [3]:
data1=pd.read_csv("test.csv")

In [4]:
data2=pd.read_csv("sample_submission.csv")

In [5]:
test_data=pd.merge(left=data1,right=data2)

In [6]:
data=pd.concat([train_data,test_data])

In [7]:
data.drop(data.columns[0],axis=1,inplace=True) # dropping 'id' column..

In [8]:
data

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75813,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40243.200000,0
75814,2,26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,146961.300000,0
75815,2,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,167299.770000,0
75816,2,40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0
75817,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [9]:
target=np.array(data['TARGET']).reshape(data['TARGET'].shape[0],1) # creating a labels

In [10]:
target

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=int64)

##  now we apply pca on data for dimensionality-reduction method that is often used to reduce the dimensionality of large data sets, by transforming a large set of variables into a smaller one that still contains most of the information in the large set.

In [11]:
from sklearn.decomposition import PCA #for dimensionality reduction 
pca =PCA(n_components =170)  
data_new=pca.fit_transform(data) #fit the model with data and apply the dimentionality reduction on data

In [12]:
from sklearn.model_selection import train_test_split  # splitting trainig data and testing data

X_train,X_test,Y_train,Y_test = train_test_split(data_new,target,test_size=0.2) #  separate dataset into train and test sets

In [13]:
X_train.shape,X_test.shape,Y_train.shape,Y_test.shape

((121470, 170), (30368, 170), (121470, 1), (30368, 1))

##  Naive Bayes classifiers, a family of classification algorithms based on bayes theorem,where every pair of features being classified is independent of each other.

In [14]:
# GaussianNB classifier
from sklearn.naive_bayes import GaussianNB 
obj = GaussianNB()

In [15]:
# fitting Gaussian Naive Bayes according to train_data, label
obj.fit(X_train,Y_train)

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

GaussianNB()

In [16]:
# Predicted labels, returned by a classifier.
predicted_results=obj.predict(Y_test)

In [17]:
from sklearn.metrics import accuracy_score #for model accuracy,how often our classifier is correct

In [18]:
# predicted labels for a sample should exactly match the corresponding set of labels in y_true.
accuracy_score(y_true=Y_test,y_pred=predicted_results)

0.980604583772392